* {
  text-decoration: none;
  font-family: lato;
  margin: 0;
}
a {
  color: #333;
}
a:hover {
  color: black;
}

header {
  background-color: #fff159;
  margin: 0;
  height: 100px;
  padding: 0;
  width: 1500px;
}

.column {
  display: grid;
  grid-template-columns: 17% 44% 39%;
}

.grid {
  padding: 10px;
  text-align: right;
}

.grid2 {
  inline-size: auto;
  gap: 15px;
  padding: 15px;
}

.grid3 {
  gap: 10px;
  padding: 10px;
  text-align: left;
}

#barra {
  width: 550px;
  height: 30px;
  border-radius: 3px;
  border-color: #fff159;
  box-sizing: content-box;
}

.grid4 {
  text-align: center;
  padding: 5px;
  margin-top: 0;
}

.grid5 {
  text-align: left;
  margin-left: 10px;
  padding: 5px;
  word-spacing: 13px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.grid6 {
  text-align: left;
  padding: 7px;
  font-size: 13px;
  margin-left: 46px;
  word-spacing: 13px;
  letter-spacing: 1px;
}
